.list li{
    color: black;
}

main ul {
    margin: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.star{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.spot{
    margin:1rem;
    width: 310px;
    transition: box-shadow .3s;
    border-radius: 6px;
}
.spot:hover{
    box-shadow: 0 0 11px rgba(33, 33, 33, .3);
}


.image img{
    height:240px;
    width:310px;
}

.price{
    font-weight: bolder;
}
