.info{
    font-size: 16px;
}

.spot-box{
   border-bottom: solid black;
}

img{
    height: 125px;
    width: fit-content;
    border-radius: 5px;
}

.spot-box h1{
    font-size: 30px;
}
.box{
    margin: 2rem;
}


.reserve-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reserve{
    border: solid 2px black;
    margin:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    border-radius: 8px;
}
.reserve button{
    width: 300px;
    height: 40px;
    border-radius: none;
    background-color: rgb(236, 86, 70);
    color: white;
    box-shadow: 1px 1px 1px 1px black;
    margin: 1rem;
}

.host{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    justify-content: space-evenly;
}
.images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
}
.images img{
    height: 400px;
    width:fit-content;
}
.img2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: .5rem;
    column-gap: .5rem;
}
.img2 img{
    height: 200px;
    width: fit-content;

}
.modal button{
    width:150px;
    height: 35px;
    background-color: gray;
    color:white;
}
.money{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3.5rem;
    margin:.75rem;
}
