.info{
    font-size: 16px;
}

.spot-box{
   border-bottom: solid black;
}

img{
    height: 150px;
    width: fit-content;
    border-radius: 5px;
}

.spot-box h1{
    font-size: 30px;
}
.box{
    margin: 2rem;
}

.reserve-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reserve{
    border: solid 2px black;
    margin:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    border-radius: 8px;
}
.reserve button{
    width: 300px;
    height: 40px;
    border-radius: none;
    background-color: rgb(236, 86, 70);
    color: white;
    box-shadow: 1px 1px 1px 1px black;
    margin: 1rem;
}

.host{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    justify-content: space-evenly;
}
