.delete button{
    width:300px;
    height: 30px;
    margin:.5rem;
    color: black;
}

.delete{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:1rem;
}
.delete h1{
    align-self: center;
}

.red button{
    background-color: red;
}

.grey button{
    background-color: grey;
}
