/* TODO Add site wide styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.wrapper{
    display: flex;
    flex-direction: column;
}
main ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

@media (max-width: 1300px) {
    main ul {
        grid: auto-flow/ 1fr 1fr 1fr;
    }
}

@media (max-width: 1000px) {
    main ul {
        grid: auto-flow/ 1fr 1fr;
    }
}


@media (max-width: 700px) {
    main ul{
        grid: auto-flow/ 1fr;
    }
}
