.hidden{
    display: none;
}

li{
    display: flex;
    flex-direction: column;
    margin: .5rem;
 }

 a:hover{
    cursor: pointer;
    text-decoration: none;
 }
 .top{
    display: flex;
    flex-direction: row;
    align-items: center;
 }

 .top a{
    color: rgb(12, 100, 83);
 }

.nav-wrap{
    border-bottom: solid grey;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem;
}

.air{
    font-size: 30px;
    height: 30px;
}

.air a{
    color:rgb(248, 103, 86);
}
.air a:hover{
    cursor: pointer;
}

.profile-dropdown{
    margin-top: .5rem;
    border: 1px solid black;
    position: absolute;
    background-color: whitesmoke;
    top: 70px;
    right: 40px
}
