li{
    display: flex;
    flex-direction: column;
    margin: .5rem;
 }
 li:hover{
    cursor: pointer;
 }


.nav-wrap{
    display: flex;
    flex-direction: row;
    border-bottom: solid grey;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40rem;
}

.air{
    font-size: 30px;
    height: 30px;
}

.air a{
    color:rgb(235, 67, 48);

}
.air a:hover{
    cursor: pointer;
}
