
button{
    cursor: pointer;
}

ul{
    list-style: none;
}

.loggin label{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin:.5rem;
}
.loggin input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
}
.loggin form{
    display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem;
}
.login button{
    width: 300px;
    height: 40px;
    box-shadow: 2px 2px 2px grey;
    border: solid grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.login2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:2.55rem;
}

.login2 button{
    width: 300px;
    height: 40px;
    box-shadow: 2px 2px 2px grey;
    border: solid grey;
   margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.errors{
    color: red;
}
